@import '../../../styles/variables.scss';
.sidebar-left {
    left: -140px;
    z-index: 90;
    transition: left .24s ease-in-out;
    padding-top: 75px;
    .navigation-left:first-child {
        margin-top: 15px;
    }
    .navigation-left {
        list-style: none;
        text-align: center;
        width: 160px;
        height: 100%;
        margin: 0;
        padding: 0;
        -webkit-box-shadow: 10px 10px 16px -5px rgba(0,0,0,.1);
        -moz-box-shadow: 10px 10px 16px -5px rgba(0,0,0,.1);
        box-shadow: 10px 10px 16px -5px rgba(0,0,0,.1);

        .nav-item {
            position: relative;
            display: block;
            width: 100%;
            color: #332e38;
            cursor: pointer;
            border-bottom: 1px solid #dee2e6;
            font-size: $base-font-size/2;
            font-weight: bold;
            .nav-item-hold {
                display: block;
                width: 100%;
                padding: 26px 0;
                color: #47404f;
                .triangle {
                    position: absolute;
                    width: 0;
                    height: 0;
                    right: 0;
                    bottom: 0;
                    border-color: transparent transparent #639;
                    border-style: solid;
                    border-width: 0 0 30px 30px;
                }
            }
            .nav-item {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                color: #332e38;
                cursor: pointer;
                border-bottom: 1px solid #dee2e6;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: nowrap;
                align-items: center;
                .button-menu:hover{
                    color: $active-font-color;
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-wrap: nowrap;
                    align-items: center;
                    color: $active-font-color;
                    padding: $base-font-size;
                    .nav-text{
                         margin-top: -$base-font-size/2;
                    }
                }
                .button-active{

                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-wrap: nowrap;
                    align-items: center;
                    -webkit-box-shadow: inset 10px 10px 16px -15px rgba(0,0,0,0.5);
                    -moz-box-shadow: inset 10px 10px 16px -15px rgba(0,0,0,0.5);
                    box-shadow: inset 10px 10px 16px -15px rgba(0,0,0,0.5);
                    padding: $base-font-size;
                    .nav-text{
                         margin-top: -$base-font-size/2;
                    }
                }
                .button-menu{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-wrap: nowrap;
                    align-items: center;
                    color: grey;
                    padding: $base-font-size;
                    .nav-text{
                         margin-top: -$base-font-size/2;
                    }
                }
            }
        }
    }
  .triangle {
    height: auto;
    left: 120px;
    background-color: $active-font-color;
    .list-group{
      -webkit-box-shadow: 10px 10px 16px -5px rgba(0,0,0,.1);
      -moz-box-shadow: 10px 10px 16px -5px rgba(0,0,0,.1);
      box-shadow: 10px 10px 16px -5px rgba(0,0,0,.1);
      .submenu{
        background-color: $active-font-color;
        color: white;
        font-size: $base-font-size*0.8;
        text-align: left;
      }
      .submenu:hover{
        background-color: $active-font-color-active;
        color: white;
        font-size: $base-font-size*0.8;
        text-align: left;
      }
    }

  }
}
