<nav class="navbar navbar-light bg-light main-header">
   <div class="left-group">
      <div class="logo">
        <a class="navbar-brand" href="#">
         <img src="./assets/images/logos/bookitlab.svg"  width="100" height="30" class="d-inline-block align-top" alt="">
        </a>
      </div>
      <div class="menu-toggle" >
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
      <div class="logo">
            <a class="navbar-brand" href="#">
             <img src="./assets/images/logos/generic-logo1-hi.png"  width="100" height="30" class="d-inline-block align-top" alt="" style="height: 50px; width: auto">
            </a>
          </div>

    </div>

    <div class="right-group">
            <button class="circle" mat-mini-fab color="basic" (click)="fullScreen()"><mat-icon>zoom_out_map</mat-icon></button>
            <button class="circle" mat-mini-fab color="basic"><mat-icon>live_help_outline</mat-icon></button>
            <button class="circle" mat-mini-fab color="basic"><mat-icon>notifications</mat-icon></button>
            <button class="req" mat-raised-button color="basic">
                    <mat-icon  >clear_all</mat-icon>  All groups
            </button>
            <!-- <button mat-mini-fab color="basic"><mat-icon>event_note</mat-icon></button> -->
            <!-- <button mat-mini-fab color="basic"><mat-icon>live_help_outline</mat-icon></button> -->



            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <button mat-mini-fab color="basic" style="overflow: hidden">
                    <img src="./assets/images/faces/user.png"  width="100%" height="auto" class="d-inline-block align-top" alt="">
                </button>

            </button>
            Jhon
                <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                    </button>
                </mat-menu>
    </div>


  </nav>
